</br>
</br>
<h1>New Post</h1>
</br>
<%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :create))  %>
<span class="btn btn-light"><%= link "Back", to: Routes.post_path(@conn, :index), class: "btn btn-light" %></span>
